       LinearRegression Model Dataset Dimonds

importing liabraries

In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

loading dataset and exploring

In [19]:
df=sns.load_dataset('diamonds')

In [20]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [21]:
df.shape

(53940, 10)

In [22]:
df.columns
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

parting  data into train and test

In [23]:
y=df['price']
x=df[['carat','depth', 'table','x','y','z']]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=100,shuffle=True)

In [26]:
x_train.head()

       carat  depth  table     x     y     z
33169   0.30   61.9   54.1  4.28  4.33  2.67
53170   0.71   59.5   62.0  5.85  5.74  3.45
27846   0.30   62.2   56.0  4.27  4.31  2.67
20880   1.02   62.9   59.0  6.42  6.37  4.02
28554   0.30   60.1   61.0  4.32  4.30  2.59

In [27]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [28]:
lm.fit(x_train,y_train)

LinearRegression()

In [29]:
print('coef:',lm.coef_)

coef: [10834.06321232  -213.34319595  -102.67299346 -1415.57698317
    28.21352616   170.89363145]

In [30]:
print('LinearRegression intercept:',lm.intercept_)

LinearRegression intercept: 21713.306055136767

In [31]:
y_pred=lm.predict(x_test)
y_pred

array([2053.04511843, 6862.81411014, 1341.87525727, ...,  669.19889935,
       1496.10763145, 3231.84986497])

In [32]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_pred,y_test)
mse

2238604.506972632

In [33]:
lm.score(x_train,y_train)

0.8596894432828328

In [34]:
#sns.pairplot( data=df,hue='price',palette='coolwarm')

In [1]:
df.discr

NameError: name 'df' is not defined